.mainContainer{	
border: #EAEA30 solid 2px;
border-radius:10px;
height: 430px;
}

.portletHeader{
background: #a6d2f0;
background-image: -webkit-linear-gradient(top, #a6d2f0, #2980b9);
background-image: -moz-linear-gradient(top, #a6d2f0, #2980b9);
background-image: -ms-linear-gradient(top, #a6d2f0, #2980b9);
background-image: -o-linear-gradient(top, #a6d2f0, #2980b9);
background-image: linear-gradient(to bottom, #a6d2f0, #2980b9);
-webkit-border-top-left-radius: 6px;
-moz-border-radius-topleft: 6px;
border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topright: 6px;
border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-bottomright: 6px;
border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-bottomleft: 6px;
border-bottom-left-radius: 6px;
border: 1px solid #469df5;
display: inline-block;
font-size: 12px;
font-weight: bold;
color: #04010f;
height: 28px;
line-height: 29px;
width: 100%;	
}

.text{
width:auto;
float:left;
font-weight:bold;
padding-left: 5px;
padding-right: 5px;		
}

.button{
width: 78px;
height: 18px;
line-height: 12px;
color: #000;
font-weight: bold;
background:#f0f0f0;
float: left;
margin-top: 4px;
padding-top: 3px;
padding-left: 5px;
float: right;
margin-right: 10px;
-webkit-border-top-left-radius:6px;
-moz-border-radius-topleft:6px;
border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;
-moz-border-radius-topright:6px;
border-top-right-radius:6px;
-webkit-border-bottom-right-radius:6px;
-moz-border-radius-bottomright:6px;
border-bottom-right-radius:6px;
-webkit-border-bottom-left-radius:6px;
-moz-border-radius-bottomleft:6px;
border-bottom-left-radius:6px;
border:1px solid #469df5;
cursor: pointer;
}

.CommonloadMore{
color:green;
cursor:pointer;
text-align:center;	
}

.CommonloadMore:hover{ 
 color:black;
}

.CommonloadLess{
color:red;
text-align:center;
cursor:pointer;
display:none;		
}
.CommonloadLess:hover{
color:black;
}

.ComboList{
width: 50px;
font-size: 12px;
height: 25px;
padding-left: 2px;
margin-top: 2px;
float: left;
margin-right: 10px;	
}

.aui select {
width: 175px;
border: 1px solid #CCC;
background-color: #FFF;
float:left;
margin-top: 19px;
margin-left: 20px;
}

.showMoreAndLess {
float:left;
margin-left: 10%;
}

.add-item{
width: 80px;
height: 18px;
line-height: 12px;
float: right;	
margin-right: 10px;
margin-top:8px;
}

.CommonSelect{
width: 54px;
float: right;
height: 26px;
margin-top: -20px;
}

	table.sortableRecord {
		border:1px solid black;
	}
	table.sortableRecord td {
		border-collapse:collapse;
	}
	table.sortableRecord .recordTitle {
		font-size:12px;
		width:20em;
		line-height: 38px;
	}
	table.sortableRecord .recordData img {
		width: 10px;
	}
	table.sortableRecord .recordData {
		font-size: 10px;
		line-height: 15px;
	}
	table.sortableRecord .recordData img.rightColumn {
		width:12px;
		cursor:pointer;
	}
	table.sortableRecord .recordData img.middleColumn {
		width:16%;
	}
	
	table.sortableRecord .recordData .statusImage img {
		width: 21px;
}

#maindivSprint{
	overflow-y: scroll;
	height: 311px;
}

	.myPopup {
		height: auto;
		background: #fff;
		border: 1px solid #057fd0;
		width: 70px;
		text-align:left;
		border:1px solid #376092;
		width: 90px;
		cursor:pointer;
		margin-left: 6px; 
	}
	.myPopup .listItem{
		list-style:none;
		font-size: 10px;
		height:25px;
		margin-top: 0px;
		line-height:25px;
		border-bottom:1px solid #dfdfdf;
	}
	.myPopup .listItem:hover{
		list-style:none;
		background-color: #92c5e7;
		color:#fff;
		border-bottom:1px solid #696969;
	}
	.myPopup .listItem.liLast{
		border-bottom:1px solid transparent;
	}
	.myPopup .listItem img {
		padding-right: 2px;
	}
	
	.backlogmyPopup {
		height: auto;
		background: #fff;
		border: 1px solid #057fd0;
		width: 70px;
		text-align:left;
		border:1px solid #376092;
		width: 90px;
		cursor:pointer;
		margin-left: 57px; 
		margin-top: 11px;
	}
	.backlogmyPopup .listItem{
		list-style:none;
		font-size: 10px;
		height:25px;
		margin-top: 0px;
		line-height:25px;
		border-bottom:1px solid #dfdfdf;
	}
	.backlogmyPopup .listItem:hover{
		list-style:none;
		background-color: #92c5e7;
		color:#fff;
		border-bottom:1px solid #696969;
	}
	.backlogmyPopup .listItem.liLast{
		border-bottom:1px solid transparent;
	}
	.backlogmyPopup .listItem img {
		padding-right: 2px;
	}

.usmyPopup {
		height: auto;
		background: #fff;
		border: 1px solid #057fd0;
		width: 70px;
		text-align:left;
		border:1px solid #376092;
		width: 90px;
		cursor:pointer;
		margin-left: -51px; 
		
	}
	.usmyPopup .listItem{
		list-style:none;
		font-size: 10px;
		height:25px;
		margin-top: 0px;
		line-height:25px;
		border-bottom:1px solid #dfdfdf;
	}
	.usmyPopup .listItem:hover{
		list-style:none;
		background-color: #92c5e7;
		color:#fff;
		border-bottom:1px solid #696969;
	}
	.usmyPopup .listItem.liLast{
		border-bottom:1px solid transparent;
	}
	.usmyPopup .listItem img {
		padding-right: 2px;
	}
.taskDivheights{		
	border: #EAEA30 solid 2px;
	border-radius:10px;
}

.scrolling{
	height: 403px;
	overflow-y:scroll;
}

.actions_button{
width:35px;
height:20px;
}
#icon_one{
background-image:url(../../../icons/SCRUM_Icons/Settings.png);
background-size: 15px 15px;
background-repeat: no-repeat;
background-position: 2px center;
width: 50%;
height: 100%;
float: left;
}

#icon_two{
background-image:url(../../../icons/SCRUM_Icons/Down_arrow.png);
background-size: 10px 5px;
background-repeat: no-repeat;
background-position: 2px center;
width: 49%;
height: 100%;
float:right;

}
.actions_dropdown{
  position: absolute;
 display:none;
width:150px;
padding: 5px;
  background-color: #e3e3e3;
  border: solid 1px #CDCDCD;
  -webkit-box-shadow: 0 0 .5px .3px rgba(0,0,0,1);
box-shadow: 0 0 .5px .3px rgba(0,0,0,1);	  
}
.actions_dropdown ul{
margin: 0px;
  padding: 0px;
   background-color: #e3e3e3;
   
}
.actions_dropdown ul li{
list-style:none;
  line-height: 25px;
  border-bottom: 1px solid #BDBDBD;
  padding-left: 5px;
}

.actions_dropdown{
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


.actions_dropdown li ul{
  position:absolute;
 border: solid 1px #CDCDCD;
  width:120px;
  left: auto;
  min-width: 100%;
  left: -99999em;
  -webkit-box-shadow: 0 0 .5px .3px rgba(0,0,0,1);
box-shadow: 0 0 .5px .3px rgba(0,0,0,1);	
}

.actions_dropdown li:hover > ul{
left: 100%;
/* top: -1px;*/
  margin-top: -25px;
}
	