/**
 * Style sheet for CalendarPickerControl
 * System-colors theme
 */

div.calendarbutton{
	position: absolute;
      	background: url(../img/controls/calendar_icon.png);
}

#CalendarPickerControl{
	background-color: transparent;
	width: 160px;
	height: 120px;
}

#CalendarPickerControl table.calframe{
	width: 100%;
	border: 1px solid black;
	background-color: #c6d9f1;
	text-align: center;
}

#CalendarPickerControl td.monthname{
	width: 100%;
	font-family: Verdana,Arial;
    font-size:11px;
	color: captiontext;
	font-weight: bold;
	background-color: #7097c7;
}

#CalendarPickerControl td.monthnameLNX{
	width: 100%;
	font-family: Verdana,Arial;
    font-size:11px;
	color: highlighttext;
	font-weight: bold;
	background-color: highlight;
}

#CalendarPickerControl table.navigation{
	width: 100%;
	text-align: center;
}

#CalendarPickerControl td.navbutton{
	font-family: Verdana,Arial;
    font-size:10px;
	color: buttontext;
	font-weight: bold;
	background-color: #eeeeef;
	border-width: 1px;
	border-style: solid;
	border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
	cursor: pointer;
}

#CalendarPickerControl td.navbutton:hover{
	text-decoration: underline;
    color:#FFFFFF;
	border-color: threeddarkshadow buttonhighlight buttonhighlight  threeddarkshadow;
	background-color: #376092;
}

#CalendarPickerControl span.yearbutton{
	cursor: pointer;
}

#CalendarPickerControl span.yearbutton:hover{
	text-decoration: underline;
}

#CalendarPickerControl td.dayname{
	font-family: Verdana,Arial;
    font-size:10px;
	color: captiontext;
	background-color: #7097c7;
}

#CalendarPickerControl td.daynameLNX{
	font-family: Verdana,Arial;
    font-size:10px;
	color: highlighttext;
	background-color: highlight;
}

#CalendarPickerControl td.today{
	font-family: Verdana,Arial;
    font-size:10px;
	background-color: #eeeeef;
	color: red;
	text-decoration: none;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
}

#CalendarPickerControl td.today:hover{
	text-decoration: underline;
	background-color: threedshadow;
	border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.current{
	font-family: Verdana,Arial;
    font-size:10px;
	font-weight: bold;
	background-color: #7097c7;
	color: highlighttext;
	text-decoration: none;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.current:hover{
	text-decoration: underline;
}

#CalendarPickerControl td.day{
	font-family: Verdana,Arial;
    font-size:10px;
	background-color: #eeeeef;
	color: buttontext;
	text-decoration: none;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
}

#CalendarPickerControl td.day:hover{
	text-decoration: underline;
	background-color: #376092;
    color:#FFFFFF;
	border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.weekend{
	font-family: Verdana,Arial;
    font-size:10px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #376092;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: buttonhighlight threeddarkshadow threeddarkshadow buttonhighlight;
}

#CalendarPickerControl td.weekend:hover{
	background-color: #376092;
	text-decoration: underline;
	border-color: threeddarkshadow buttonhighlight buttonhighlight threeddarkshadow;
}

#CalendarPickerControl td.dayothermonth{
	font-family: Verdana,Arial;
    font-size:8px;
	background-color: buttonhighlight;
	color: inactivecaptiontext;
	border: 1px solid buttonhighlight;
}

#CalendarPickerControl td.weeknumber{
	font-family: Verdana,Arial;
    font-size:9px;
	background-color: #eeeeef;
	color: inactivecaptiontext;
	border-width: 0px;
}
