#teamDivHeights {
	height:132px;
	margin-top: -7px;
	width: 101.54%;
}

#taskMenu{
height: 117px  !important;
width: 150px  !important;
margin-left: -113px  !important;
margin-top: 4px  !important;
}

.teamsGrids{
margin-top:26px;
}

.projectId{
	width: 175px;
	margin-top: 19px;
	margin-left: 20px;
}

#thirdHeader .dropdown {
	border-left: 1px solid gray;
}
#thirdHeader h6 {
	margin-left: 9px;border-right: 1px solid gray;margin-right: 77px;height: 16px;
}
#thirdHeader .actions_button1 {
	margin-top: -56px;margin-left: 36px;width:15px;
}

.dropdown {
	color: #555;
	margin: 3px -22px 0 0;
	width: 143px;
	position: relative;
	height: 17px;
	text-align:left;
	margin-top: -23px;
	margin-left: 19px;
	z-index: 1008;
}
.submenu {
	background: #fff;
	position: absolute;
	width: 135px;
	display: none;
	margin-left: 10px;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
	margin-left: 50px;
	margin-top: -11px;
	height:84px;
}

.dropdown li a  {
	color: #555555;
	display: block;
	font-family: arial;
	font-weight: bold;
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
}

.dropdown li a:hover {
	background:#155FB0;
	color: #FFFFFF;
	text-decoration: none;
}
a.account {
	font-size: 11px;
	line-height: 16px;
	color: #555;
	position: absolute;
	z-index: 110;
	display: block;
	padding: 11px 0 0 20px;
	height: 28px;
	width: 121px;
	margin: -11px 0 0 -10px;
	text-decoration: none;
	background: url(icons/arrow.png) 116px 17px no-repeat;
	cursor:pointer;
}
.root {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size: 11px;
	padding: 11px 0 0 0px;
	border-top:1px solid #dedede;
}	     

.main-portlet-header1{
	background: #e5e5e5;
	background-image: -webkit-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: -moz-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: -ms-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: -o-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: linear-gradient(to bottom, #a6d2f0, #2980b9);
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #04010f;
	height: 28px;
	line-height: 29px;
	width: 100%;	
}

#jqxComboBox{
	margin-left:16px;
}

#topHeader {
	width:100%;
	height: 50px;
	background-color: #bfbfbf;
}

#secondHeader{
	width:100%;
	height:42px;
	margin-top: 0px;
	background-color: #f2f2f2;
}

#thirdHeade r{
	width:100%;
	height: 18px;
	margin-top: 25px;
	background-color: #f2f2f2;
}

#teamGrid{
	margin-top: 26px;
}

button {
	height: 30px;
	padding: 0px;
	width: 60px;
}

.jqx-widget-content {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-ms-touch-action: none;
	-moz-background-clip: padding;
	-webkit-text-size-adjust: none;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: Verdana,Arial,sans-serif;
	font-style: normal;
	font-size: 13px;
	border-color: #c7c7c7;
	background: #fff;
	z-index: 100 ! important;
}
.buttonForAdd {
	background: #22262c;
	width: 8%;
	height: 11px;
	background-image: -webkit-linear-gradient(top, #22262c, #22262c);
	background-image: -moz-linear-gradient(top, #22262c, #22262c);
	background-image: -ms-linear-gradient(top, #22262c, #22262c);
	background-image: -o-linear-gradient(top, #22262c, #22262c);
	background-image: linear-gradient(to bottom, #22262c, #22262c);
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 14px;
	padding: 9px 40px 11px 40px;
	text-decoration: none;
}

.buttonForAdd:hover {
	background: #22262c;
	background-image: -webkit-linear-gradient(top, #22262c, ##22262c);
	background-image: -moz-linear-gradient(top, #22262c, ##22262c);
	background-image: -ms-linear-gradient(top, #22262c, ##22262c);
	background-image: -o-linear-gradient(top, #22262c, ##22262c);
	background-image: linear-gradient(to bottom, #22262c, ##22262c);
	text-decoration: none;
}
  
.addingTeam{
	font-size: 12px;
	margin-top: -3px;
}
  
.actions_dropdown{
	position: absolute;
	display:none;
	width:151px;
	background-color: #ffffff;
	border: solid 1px transparent;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;	  
}


.actions_dropdown ul{
margin: 0px;
padding: 0px;   
}

.actions_dropdown ul li{
	list-style:none;
	line-height: 25px;
	border-bottom: solid 1px #E8E8E8;
	padding-left: 10px;
	background-color: white;
	border: none;
}	
.actions_dropdown ul li	img {
	width: 15%;
}

.actions_dropdown{
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	left: 676px ! important;
	width: 154px ! important;
	height: auto ! important;
}

@-webkit-keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}
	
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.actions_dropdown li ul{
  position:absolute;
 border: solid 1px #CDCDCD;
  width:120px;
  left: auto;
  min-width: 100%;
  left: -99999em;
	 background-color: #ffffff;
  border: solid 1px transparent;
 -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

.actions_dropdown li:hover > ul{
left: 100%;
/* top: -1px;*/
  margin-top: -25px;
}
  
#Teams{
  margin-top: -7px;
}


.actions_dropdown1{
  position: absolute;
 display:none;
width:150px;
  background-color: #ffffff;
  border: solid 1px transparent;
 -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
	  
}
.actions_dropdown1 ul{
margin: 0px;
  padding: 0px;   
}
.actions_dropdown1 ul li{
list-style:none;
  line-height: 25px;
    border-bottom: solid 1px #E8E8E8;
  padding-left: 10px;
}

.actions_dropdown1{
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  margin-top: -32px;
  margin-left: 44px;
}

.actions_dropdown1 li ul{
  position:absolute;
 border: solid 1px #CDCDCD;
  width:120px;
  left: auto;
  min-width: 100%;
  left: -99999em;
	 background-color: #ffffff;
  border: solid 1px transparent;
 -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}

.actions_dropdown1 li:hover > ul{
left: 100%;
margin-top: -25px;
}