/* button.confirm {
background-color: rgb(13, 176, 250) !important;
} 

#projectMainDivContent{
margin-top: 10px;
}

#horizontal {
position: absolute;
top: 105px;
bottom: 0;
width: 50%;
height:350px;
border-left: 1px solid #aba1a1;
background-color: #ffffff;   
 }







#vertical{
position: absolute;
bottom: 0;
left: 49%;
width: 50%;
height:372px;
border-left: 1px solid #aba1a1; 
border-right: 1px solid #aba1a1; 
background-color: #ffffff;
top:95px;
}



.inner{
 margin-top:23px;
 border-bottom: 1px solid gray;   
}

.inner1{
 margin-top:34px; 
 border-bottom: 1px solid gray;   
}

#topperHeader{
background-color: #bfbfbf;
width:100%;
 height:50px;
margin-top:-45px;
}

#topperHeader1{
background-color: #bfbfbf;
width:100%;
 height:50px;
margin-left: -3px;
margin-top: -24px;
}

#borderOne{
  width: 77px;
  height:25px;
  border: 1px solid gray;
  margin-left: 7px;
  margin-top: 33px;
  background-color: #00b050;
}

#borderTwo{
  width: 68px;
  height:25px;
  border: 1px solid gray;
  margin-left: -3px;
  margin-top: 32px;
}

#projectDate{
margin-top: 41px;
margin-left: 12px;
}
#projectDate1{
margin-top: 35px;
padding-left: 5px;
}

.aui h3 {
	font-size: 15.5px;
}

#projectName {
	width: 75%;
	height:33px;
	border-radius: 6px;
}

#projectMsg {
	color: red;
	margin-top: -28px;
}

#projectnoMsg {
	color: red;
	margin-top: -28px;
}

#dateFormatId {
	font-size: 8px
}

#projecttitleMsg {
	color: red;
	margin-top: -28px;
}


#lifecycleMsg{
	color: red;
	margin-top: -31px;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth,.yui3-skin-sam .yui3-calendarnav-prevmonth:hover
	{
	background-position: 0 0;
	margin-left: -12px;
	background-image: url(/html/img/datepicker_previous.png);
}

.yui3-skin-sam .yui3-calendarnav-nextmonth,.yui3-skin-sam .yui3-calendarnav-nextmonth:hover
	{
	margin-right: -12px;
	background-position: 0 0;
	background-image: url(/html/img/datepicker_next.png);
}

#save {
	margin-top: 25px;
	margin-left: 15px;
}

#estStartDateMsg {
	color: red;
	margin-top: -28px;
}

#actualStartDateMsg {
	color: red;
	margin-top: -28px;
}

#actualenddateMsg {
	color: red;
	margin-top: -28px;
}

#estEndDateMsg {
	color: red;
	margin-top: -28px;
}

#projectbox {
	height: 90px;
	line-height: 40px;
	border: 1px solid #dddddd;
	display: none;
}

#fakeBrowse{
  margin-left: -5px;
  background-color: rgb(205, 202, 202);
  width:89px;
  margin-top: 15px;
  height: 31px;
}

#filename{
height:11px;
width:135px;
}

.lfr-form-row{
margin-top: 49px;
}

.lfr-form-row{
  border-bottom: 1px solid transparent; 
  margin-bottom: 10px;
  padding-bottom: 25px;
  position: relative;
}

.lfr-form-row:hover{
border: solid transparent;
border-width: 1px 0;
padding-top: 0;
background-color: white;
}

.datepicker-popover{
  z-index: 1;
}

.row-fields{
 margin-left: 125px;
}

.datepicker-popover{
display: block;
left: 170.5px;
top: 149px;
z-index: 1 ! important;
}

#lifecycleId{
height:36px;
border-radius: 6px;
}

#projectStartDate{
margin-left: -1px;
height: 33px;
border-radius: 6px;
}

#projectEndDate{
margin-left: -1px;
height: 33px;
border-radius: 6px;
}

#projectDiscription{
width: 438px;
height: 101px;
border-radius: 6px;
}

.lfr-form-row lfr-form-row-inline{
margin-left: 35px;
margin-top:52px;
}

#file0{
margin-left:149px;
margin-top:-56px;
}

.backlogTitleMSg {
	color: red;
}


.hourMsg {
	color: red;
}
#custom li:hover
{
background-color: rgb(232, 232, 232) !important;
}

#custom li.release:hover
{
color: #fff !important;
}
 button.confirm
{
background-color: rgb(13, 176, 250) !important;
} 

 #group, #category {
    padding: 0;
  margin: 0;
  float: left;
  min-width: 95%;
  width: 95%;
  height: 24px;
} 

 
#mainTopDiv{
  position: fixed;
  background: #fff;
  top: 45px;
  z-index: 100;
  border-top: none;
}


#adding{	
background: white;
}  
  

#topDiv{
	width:99%;
	border: 1px solid black;
	border-bottom: 1px solid #e3e3e3;
	height:24px;
	margin-left: 1px;
}

#topHeader1{
width:99%;
display: table;
table-layout: fixed;
border: 1px solid rgb(144, 131, 131);
  border-bottom: 1px solid #e3e3e3;
height:80px;
margin-top:5px;
margin-left: 1px;
}


#topHeader2{	
width:100%;
display: table;
table-layout: fixed;
height:32px;
margin-left: 1px;
}


#topHeader3{
width:100%;
display: table;
table-layout: fixed;
border: 1px solid #e3e3e3;
height:227px;
height:230px;
margin-top:5px;
margin-left: 1px;
}


.navigationBar{
list-style:none;
}

.navigationBar ul{
list-style:none;
margin:0;
padding:0;
}

.navigationBar li{
display:inline;
}

.navigationBar li #projectDate{
text-decoration:none; font-size:12px; line-height:20px; display:inline-block; padding:5px;margin:0 1px;
}

.navigationBar li #statusBar{
line-height: 20px;
display: inline-block;
height: 21px;
width: 108px;
}

.navigationBar li #projectDateForProject{
text-decoration:none; font-size:12px; line-height:20px; display:inline-block; padding:5px;margin:0 1px;
}

.navigationBar li #statusBarForProject{
text-decoration:none; font-size:12px; line-height:20px; display:inline-block; padding:5px;margin:0 1px;
}

#statusBar{
border: solid 1px #d9d9d9;
background-color: #00b050;
width: 21%;
height: 20px;
}

#statusBar1{
border: solid 1px #d9d9d9;
background-color: #00b050;
width: 21%;
height: 20px;
display:inline-block;
}


#three-line-chart-remain{
float: left;
background-color: #ffffff;
width: 7%;
border: solid 1px #d9d9d9;
height: 25%;
}

#progressBulletGraph{
  width: 100px;
  height:20px;
  border: 1px solid gray;
  margin-left: 7px;
  float:left;
  margin-top: -2px;
  background-color: #616161;
}

#progressBulletGraph #currentProgress{
  width: 0px;
  height:20px;
  margin-left: 0px;
  float: left;
  background-color: #00b050;
}

#borderThree{
  width: 145px;
  height:28px;
  border: 1px solid gray;
  margin-left:5px;
  margin-top: 33px;
}

#sampleGraphs{
margin-top: -8px;
margin-left: 16px;
}


.left-column
{
float:left;
width:70%;
}
.right-column
{
float:right;
width:30%;
}

#backlogDataDiv{
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #ee3823;
}

#detailsDataDiv{
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #27b466;
}

#releaseDiv{
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #cd1d8c;
}

#userDiv{
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #6973b8;
}
#teamDiv{
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #42bed8;
}



#filterId {
	width: 28px;
	float: left;
	margin-left: 10px;
}




.hidden {
	display: none;
}

#actionsMenuBarInBacklogPool {
	-webkit-animation-name: bounceIn;
	  -webkit-animation-duration: .75s;
     margin-top: -49px;
	z-index: 1001;
	position: absolute;
	width: 13%;
	font-weight: 100;
	margin-left: 8%;
	background: white;
	border: solid 1px white;
	height: auto;
	padding:5px;
	clear: both;
	display: none;
}

.aui form {
  margin: 0px !important;
}

.hidden {
	display: none;
}

.scrumMenuBar1 .scrumMenuItemroundBorder1:hover {
	background: transparent;
}

.scrumMenuBar1 .scrumMenuItemroundBorder1 input {
	width: 137px;
}

.scrumMenuItemroundBorder1{
 width: 100%;
height: 30px;
line-height: 30px;
border-bottom: solid 1px #E8E8E8;
}
.backlog_actions_dropdown {
	position: absolute;
	display: none;
	width: 120px;
	background-color: #ffffff;
	border: solid 1px transparent;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	list-style-type: none;
	margin-left: 140px;
}

.backlog_actions_dropdown ul {
	margin: 0px;
	padding: 0px;
}

.backlog_actions_dropdown ul li {
	list-style: none;
	line-height: 25px;
	border-bottom: solid 1px #E8E8E8;
	padding-left: 10px;
}
.backlog_actions_dropdown li:hover
{
 background-color:rgb(232,232,232);
}

.backlog_actions_dropdown {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
}

.backlog_actions_dropdown li ul {
	position: absolute;
	border: solid 1px #CDCDCD;
	width: 120px;
	left: auto;
	min-width: 70%;
	left: -99999em;
	background-color: #ffffff;
	border: solid 1px transparent;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
}

.backlog_actions_dropdown li:hover>ul {
	left: 100%;
	margin-top: -25px;
}

.actions_dropdown {
	position: absolute;
	display: none;
	width: 150px;
	background-color: #ffffff;
	border: solid 1px transparent;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	margin-left: 72px;
}
#add
{
margin-left:117px;
}

.actions_dropdown ul {
	margin: 0px;
	padding: 0px;
}

.actions_dropdown ul li {
	list-style: none;
	line-height: 25px;
	border-bottom: solid 1px #E8E8E8;
	padding-left: 10px;
	cursor:pointer;
}
.actions_dropdown ul li:hover
{
background-color:rgb(166,166,166);
 background-color:rgb(232,232,232);
}

.actions_dropdown {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.actions_dropdown li ul {
	position: absolute;
	border: solid 1px #CDCDCD;
	width: 120px;
	left: auto;
	min-width: 100%;
	left: -99999em;
	background-color: #ffffff;
	border: solid 1px transparent;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
}

.actions_dropdown li:hover>ul {
	left: 100%;
	top: -1px;
	margin-top: -25px;
}

.sampleBox1 {
	width: 100%;
	height: 354px;
	border: solid 1px #d9d9d9;
	margin: 0;
	border-bottom: none;
}

.sampleGraphs {
	width: 18%;
	height: 20px;
	border: solid 1px #d9d9d9;
	margin: 0;
	margin-left: 274px;
	margin-top: -2px;
}

.sampleBox-1 {
	border-bottom: solid 1px #d9d9d9;
	margin-top: 3px;
}

#three {
	height: 65px;
	background-color: #ffffff;
	margin-top: 39px;
	margin-left: 95px;
}

#three-line-chart-full {
	float: left;
	border: solid 1px #d9d9d9;
	background-color: #00b050;
	width: 7%;
	border-right: 0px;
	height: 25%;
}

#three-line-chart-remain {
	float: left;
	background-color: #ffffff;
	width: 7%;
	border: solid 1px #d9d9d9;
	height: 25%;
}

#three-line-chart {
	margin-left: 130px;
	margin-top: 45px;
}

#borderline {
	border-bottom: solid 1px #d9d9d9;
}

#actionlistsBox li {
	list-style: none;
}

#secondlistsBox li {
	list-style: none;
	margin-left: 19px;
}

#actionlistsBox {
	float: right;
	font-family: sans-serif;
	line-height: 33px;
}

#list1 {
	width: 5%;
	height: 65px;
	border: solid 1px #d9d9d9;
}

#list2 {
	width: 5%;
	height: 65px;
	border: solid 1px #d9d9d9;
}

#list3 {
	width: 5%;
	height: 65px;
	border: solid 1px #d9d9d9;
}

#list4 {
	width: 5%;
	height: 65px;
	border: solid 1px #d9d9d9;
}

#nav1 {
	margin-top: -15px;
	list-style: none;
	margin-right: 46px;
}

#nav1 li {
	margin-left: 20px;
}

#firstDiv {
	width: 4%;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #27b466;
	float: right;
}

#firstDiv1 {
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #42bed8;
	float: right;
}

#firstDiv2 {
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #6973b8;
	float: right;
}

#firstDiv3 {
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: #cd1d8c;
	float: right;
}

#firstDiv4 {
	width: 60px;
	height: 55px;
	border: solid 1px #d9d9d9;
	background-color: red;
	float: right;
}

#sampleText {
	margin-top: 50px;
	margin-left: 145px;
	font-size: 13px;
	font-family: sans-serif;
}

#sampleText1 {
	margin-bottom: -70px;
	font-size: 13px;
	font-family: sans-serif;
}

#forAction {
	width: 10%;
	height: 49px;
	border: solid 1px #d9d9d9;
	float: right;
}

#forAction li {
	list-style: none;
}

#actionlist1 {
	border: solid 1px #d9d9d9;
	border-right: none;
}

#secondlist1 {
	width: 405px;
}

#secondlist2 {
	width: 385px;
}

#row2{
width: 100%;
height: 222px;
line-height: 200px;
float: left;
border-bottom: solid 1px #d9d9d9;
}

#nav_first_img{
float: left;
width: 100%;
height:190px;
}

#topperHeaderData{
	margin-top: -47px;
}

#pie_container{
	padding-top: 0px;
    margin-top: 0px;

  min-width: 310px;
  margin: 0 auto;
  min-height:150px;
  border-left: 1px solid #e3e3e3;
  margin-top:0px;
  margin-left: 24px;
  height: 226px;
}

.hideLink{
	cursor: pointer;
}

 #selectingpiechart{
 	position: absolute;
	left: 625px;
	z-index: 12;
	width:130px;
float:right;
width:130px;
margin-right: 0px;
position:absolute;
top: 0px; 
left: 72%;
z-index: 3; 
}

#nameDiv1{
background-color: #ffff;
width: 97.4%;
height: 33px;
margin-left: 5px;
}

#nameDivHeading{
font-weight: bold;
font-size: 15px;
margin-top:4px;
}

#blankDiv{
background-color: #e5e5e5;
width: 99.7%;
height: 23px;
border: solid 1px #d9d9d9;
margin-left: 2px;
margin-top: -13px;
}

#selectingchart{
width: 121px;
margin-right: 10px;
}

#backlogDataDiv{
width: 65px;
margin-left: 10px;
margin-top: 2px;
}

#tcount{
margin-top: -5px;
width:10%;
margin-left:2px;
}

#backlogTextContent{
font-size: 11px;
font-family: sans-serif;
margin-left: 7px; 
float: center;
}

#releaseTextContent{
font-size: 11px;
font-family: sans-serif;
margin-left: 7px; 
float: center;
}

#usersTextContent{
font-size: 11px;
font-family: sans-serif;
margin-left: 7px;
float: center;
}

#addmove{
background-color: #e5e5e5;
width: 99.4%;
margin-top: 13px; 
height: 23px; 
border: solid 1px #d9d9d9; 
margin-left: 2px; 
border-top: none;
margin-left:3px;
}

#icon1{
  float: left; 
  width: 26px;
  height: 23px;
  background-color: #00b050;
  padding-left: 4px;
}

#icon2{
float: left; 
margin-left: 4px;
}

#icon4{
border-left: solid 2px #d9d9d9; 
height: 23px; 
width: 67px; 
float: left; 
margin-left: 3px; 
text-align: center; 
cursor: pointer;
margin-top: 0px;
}

#icon5{
width: 67px; 
height: 23px; 
border-left: solid 2px #d9d9d9; 
border-right:solid 2px #d9d9d9; 
float: left; 
text-align: center;
margin-top: 0px; 
cursor: pointer;
}

#projectTextImage{
width: 14px;
margin-left: 57px;
margin-top: -42px;
}
#tableForProjectData{
margin-left: 9px;
line-height: 44px;
font-family: sans-serif;
}

#rightSideCountData{
margin-right:13px;
line-height: 31px;
font-family: sans-serif;
margin-top:9px;
}


#backlogsCountDivStyleData{
float:right;
background-color:yellow;
height: 13px;
font-size: 9px;
width: 13px;
margin-top: 0px;
}

#releasesCountDivStyleData{
float:right;
background-color:yellow;
height: 13px;
font-size: 9px;
width: 13px;
margin-top: 0px;
}

#usersCountDivStyleData{
float:right;
background-color:yellow;
height: 13px;
font-size: 9px;
width: 13px;
margin-top: 0px;
}

#teamsCountDivStyleData{
float:right;
background-color:yellow;
height: 13px;
font-size: 9px;
width: 13px;
margin-top: 0px;
}

#detailsCountDivStyleData{
float:right;
background-color:yellow;
height: 13px;
font-size: 9px;
width: 13px;
margin-top: 0px;
}

#teamsTextContent{
font-size: 11px;
font-family: sans-serif;
margin-left: 7px; 
float: center;
}

#detailsTextContent{
font-size: 11px;
font-family: sans-serif;
margin-left: 7px; 
float: center;
}

#backlogImageStyle{
margin-left:14px;
}

#releaseImageStyle{
width: 30px;
margin-left: 10px;
margin-top: 2px;
}

#userImageStyle{
width: 30px;
margin-left: 10px;
margin-top: 2px;
}

#teamImageStyle{
width: 30px;
margin-left: 10px;
margin-top: 2px;
}

#detailsImageStyle{
width: 30px;
margin-left: 10px;
margin-top: 2px;
}

#newActionImageStyle{
width: 20px;
margin-top: 2px;
float: left;
margin-right: 4px;
}

#actionlist5{
	margin-left: -4px;
}

#gridViewImageStyle{
	height: 14px; 
	width: 21px;
	transition: all .3s ease-in-out;
}

#menuImageStyle{
height: 18px; 
width: 15px;
margin-left: 6px;
}

#add-01ImageStyle{
height: 14px; 
width: 10px; 
margin-left: 3px;
}
#move-01ImageStyle{

width: 17px; 
margin-left: 3px;
}


#bcount{
margin-top: -8px;
margin-left: 4px;
}

#tcount{
margin-top: -8px;
margin-left: 4px;
}

#ucount{
margin-top: -8px;
margin-left: 4px;
}

#rcount{
margin-top: -8px;
margin-left: 4px;
}

#projectMenu {
	margin-left: -100px;
}

#adding{
background-color: white;
border: 1px solid white !important;
}

#taskMenu > .dropdown-submenu {
background-color: black;
}


.jqx-menu-item-arrow-top-right
{
  		display: none ! important;
}


.dropdown-submenu ul li{
background-color: #808080;
}

.jqx-menu-dropdown{
  left: 0px !important;
  background-color: #e3e3e3 !important;
}

.jqx-menu-popup{
border: none;
  z-index: 17000;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 424px;
  left: 944px !important;
  display: block;
  visibility: visible;
  width: 204px !important;
  height: 62px;
  background-color: transparent;
}

.gridProjectButton {
	margin-left: 18px !important;
	margin-top: 5px !important;
}

.main-portlet-header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#4197ee');
	background: #a6d2f0;
	background-image: -webkit-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: -moz-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: -ms-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: -o-linear-gradient(top, #a6d2f0, #2980b9);
	background-image: linear-gradient(to bottom, #a6d2f0, #2980b9);
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid #469df5;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #04010f;
	height: 28px;
	line-height: 29px;
	width: 100%;
}

.main-portlet-header .add-item {
	width: auto;
	float: right;
	padding-right: 5px;
	cursor: pointer;
	height: auto;
}

#projecttext{
margin-left: 10px;
margin-left: -14px;
font-family: sans-serif;
}

.projectText1{
	padding-left:10px;
}



#text{
margin-top:-11px;
}

#actions{
margin-left: 4px;
}

.actions_button{
width:35px;
height:20px;
}

#actionstext{
margin-left: 19px;
}



.actions_button1{
width:35px;
height:20px;

}

#projectsAutoFieldsDiv{
	margin-left: 165px;
	margin-top: -10px ! important;
}

.actions_button2{
width:35px;
height:20px;
border:1px solid #CCCCCC;
background-color:#e3e3e3;
}

#icon_one{
background-image:url(../../../icons/SCRUM_Icons/Settings.png);
background-size: 15px 15px;
background-repeat: no-repeat;
background-position: 2px center;
width: 50%;
height: 100%;
float: left;
}

#icon_two{
background-image:url(../../../icons/SCRUM_Icons/Down_arrow.png);
background-size: 10px 5px;
background-repeat: no-repeat;
background-position: 2px center;
width: 49%;
height: 100%;
float:right;
}

#taskMenu{
position: absolute;
display:none;
width:150px;
padding: 5px;
background-color:#ffffff;
border: solid 1px transparent;
height: 105px !important;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
background-clip: padding-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border-radius: 2px;
	  
}

#taskMenu ul{
margin: 0px;
padding: 0px;   
}

#taskMenu ul li{
list-style:none;
line-height: 25px;
border-bottom: solid 1px #E8E8E8;
padding-left: 5px;
border: 1px solid white !important;
}


#taskMenu li:hover{
    background-color:#e8e8e8;
}

#taskMenu{
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  margin-left: -179px;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


#taskMenu li ul{
 position:absolute;
border: solid 1px #CDCDCD;
 width:120px;
 left: auto;
 min-width: 100%;
 left: -99999em;
 background-color: #ffffff;
 border: solid 1px transparent;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
 box-shadow: 0 6px 12px rgba(0,0,0,.175);
 background-clip: padding-box;
   -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 border-radius: 2px;	
}

#taskMenu li:hover > ul{
left: 100%;
margin-top: -25px;
background-color: gray;
}

#documentMenu{
  position: absolute;
 display:none;
width:150px;
padding: 5px;
  background-color: #e3e3e3;
  border: solid 1px #CDCDCD;
  -webkit-box-shadow: 0 0 .5px .3px rgba(0,0,0,1);
box-shadow: 0 0 .5px .3px rgba(0,0,0,1);	  
}

#documentMenu ul{
margin: 0px;
  padding: 0px;
   background-color: #e3e3e3;
   
}

#documentMenu ul li{
list-style:none;
line-height: 25px;
border-bottom: 1px solid #BDBDBD;
padding-left: 5px;
}

#documentMenu{
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


#documentMenu li ul{
  position:absolute;
 border: solid 1px #CDCDCD;
  width:120px;
  left: auto;
  min-width: 100%;
  left: -99999em;
  -webkit-box-shadow: 0 0 .5px .3px rgba(0,0,0,1);
  box-shadow: 0 0 .5px .3px rgba(0,0,0,1);	
}

#documentMenu li:hover > ul{
	left: 100%;
	margin-top: -25px;
}

.jqx-widget-content {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -ms-touch-action: none;
  -moz-background-clip: padding;
  -webkit-text-size-adjust: none;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: Verdana,Arial,sans-serif;
  font-style: normal;
  font-size: 13px;
  border-color: #c7c7c7;
  background: #fff;
  z-index: 100 ! important;
}

#taskMenu{
	height:143px ! important;
}

#cellendeditevent{
	margin-top: 10px;
}


#projectname{
	font-weight: bold;
	margin-left: -14px;
}

#settingsImageStyle{
	width:15px;
	margin-top:-56px;
}

#filterId {
	width: 18px;
	float: left;
	margin-left: 11px;
}



#featureId {
	width: 100px;
	margin-left: 4px;
}

  .hidden {
      display:none;
  }

 .hidden {
      display:none;
  }
.scrumMenuBar1 .scrumMenuItemroundBorder1:hover {
	background: transparent;
}

.scrumMenuBar1 .scrumMenuItemroundBorder1 input {
	width: 137px;
}

#actionsMenuBarInAdd
{
  margin-left:72px;
  position: absolute;
  clear: both;
  width:120px;
  display:none;
  cursor:pointer;
}
.addMenu:hover {
    background-color:rgb(191,191,191);
}
.addNewOption:hover{
background-color:rgb(191,191,191);
}
.addFrom:hover
{
 background-color:rgb(191,191,191);
}
#MenuOptionInNew
{
margin-left:192px;
position:absolute;
z-index:10;
display:none;
cursor:pointer;
text-indent:17px;
}
#MenuOptionInFrom {
	margin-left:192px;
	margin-top:23px;
	position:absolute;
	z-index:10;
	display:none;
	cursor:pointer;
	text-indent:17px;
}

#addmove{
	background-color:#d8d8d8; 
	width:99%;
	height:23px;
	border:1px solid rgb(176, 176, 176);
	margin-top:148px;
}

#icon3{
float:left;
margin-left:3px;
}

#icon4{
border-left:1px solid black;
height:21px;
width:67px;
float:left;
margin-left:3px;
text-align:center;
cursor:pointer;
padding-top: 2px;
font-size: 12px;
}

#icon5{
width:67px;
height:22px;
border-left:1px solid black;
border-right:1px solid black;
float:left;
text-align:center;
font-size: 12px;
padding-top: 2px;
}

#actionsMenuBarInAdd{
background-color:#d8d8d8;
}

#addNew{
height:23px;
width:119px; 
border-left:1px solid rgb(127,127,127);
border-right:1px solid rgb(127,127,127);
text-indent:17px;
}

#addFrom{
height:23px;
width:119px;
border:1px solid rgb(127,127,127);
text-indent:17px;
}

#MenuOptionInNew{
background-color:#d8d8d8;
}

#addNewOptionQuick{
height:23px;
width:120px; 
border-right:1px solid rgb(127,127,127);
border-left:1px solid rgb(127,127,127);
}

#addNewOptionFull{
height:23px;
width:120px;
border-right:1px solid rgb(127,127,127);
border-top:1px solid rgb(127,127,127);
border-left:1px solid rgb(127,127,127);
}

#addNewOptionImport{
height:23px;
width:120px;
border-top:1px solid rgb(127,127,127);
border-left:1px solid rgb(127,127,127);
border-right:1px solid rgb(127,127,127);
}

#addNewOptionBulk{
height:23px;
width:120px;
border:1px solid rgb(127,127,127);
}

#MenuOptionInFrom{
background-color:#d8d8d8;
}

#addFromProject{
height:23px;
width:120px; 
border:1px solid rgb(127,127,127);
}

#addFromBacklogPull{
height:23px;
width:120px;
border-left:1px solid rgb(127,127,127);
border-bottom:1px solid rgb(127,127,127);
border-right:1px solid rgb(127,127,127);
}

#backlogHeader{
margin-top: 10px;
}

.projectId{
margin-left: 8px; 
width: 100px; 
float: right; 
margin-left: 150px;
}

#documentMenu {
	margin-left: -100px;
}
.gridDocumentButton {
	margin-left: 18px !important;
	margin-top: 5px !important;
}

#documentDetails{
width: 100%; 
height: 275px;
}

li.project
{
 margin-left:0px !important;
 line-height: 20px;
 padding: 0px 0px 0px 30px;
 background-color: rgb(245, 244, 244);
}
li.release{
line-height: 12px !important;
}
#bar-selector{
width: 130px;
top: 30px;
margin-right: -24px;
float:left;
}
#container-bar{
min-width: 310px;
height: 190px;
margin: 0 auto;
}
 #container-bar1{
min-width: 310px;
height: 190px;
margin: 0 auto;
margin-top: 4px;
margin-left: 4px;
}
#bar-sub-selector{
	display:none;
	width: 130px;
	float:right;
}
#bar-sub-selector1{
	display:none;
	width: 130px;
	float:right;
}
  #pie_container1{
width: 50%;
height: 40%;
margin: 0 auto;
 padding-top:0px;
 margin-top:0px;
 margin-left: 4px;
} 
#bar-selector1{
float:left;
margin-left: 503px;
  margin-top: -5px;
}

#rightHeaderData{
margin-left: 33px;
}

#selectingpiechart1
{

  margin-left: 503px;
  margin-top: 3px; 
}  */
/* #p_p_id_agileproject_WAR_ProjectManagementportlet_{
	margin-left:2px;
} */
.myUser {
  width: 99.8%;
  background: #e5e5e5;
  margin-top: -9px;
  border-top: 1px solid #e3e3e3; }

.projectDetails {
  margin-top: -10px; }

#userDetailsDivStyle {
  font-size: 12px;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  margin-top: 30px; }

#cellendeditevent {
  margin-top: 10px; }

